<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.etd.upms.mapper.user.SystemUserRoleRelMapper">

    <resultMap id="systemUserRoleVo" type="org.etd.upms.controller.user.vo.SystemUserRoleVO">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="permissionType" column="permission_type"/>
        <result property="menus" column="menus"/>
    </resultMap>


    <select id="selectByUserId" resultMap="systemUserRoleVo">
        select
            t1.id,
            t1.tenant_id,
            t1.user_id,
            t1.role_id,
            t2.role_code,
            t2.role_name,
            t2.permission_type,
            t2.menus
        from sys_user_role_rel as t1
        inner join sys_role as t2 on t1.role_id = t2.id
        where t1.user_id = #{userId}
    </select>

</mapper>
