<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.etd.upms.user.mapper.SystemUserRoleRelMapper">

    <resultMap id="systemUserRoleVo" type="org.etd.upms.user.controller.vo.SystemUserRoleVO">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="permissionType" column="permission_type"/>
    </resultMap>


    <select id="selectByUserId" resultMap="systemUserRoleVo">
        select
            t1.id,
            t1.tenant_id,
            t1.user_id,
            t1.role_id,
            t2.role_code,
            t2.role_name,
            t2.permission_type
        from sys_user_role_rel as t1
        inner join sys_role as t2
            on t1.role_id = t2.id
            and t1.tenant_id = t2.tenant_id
            and t2.del_flag = 0
        where t1.user_id = #{userId}
          and t1.del_flag = 0
          and t1.data_status = 1
          and t2.data_status = 1
    </select>

    <select id="selectAssignmentsByUserIds" resultMap="systemUserRoleVo">
        select
            t1.id,
            t1.tenant_id,
            t1.user_id,
            t1.role_id,
            t2.role_code,
            t2.role_name,
            t2.permission_type
        from sys_user_role_rel as t1
        inner join sys_role as t2
            on t1.role_id = t2.id
            and t1.tenant_id = t2.tenant_id
            and t2.del_flag = 0
        where t1.user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
          and t1.del_flag = 0
          and t1.data_status = 1
        order by t1.user_id, t2.role_name, t2.id
    </select>

</mapper>
